.icon {
  width: 22px;
  height: 22px;
}

/* When the .dark theme is active */
.dark .light-icon {
  display: none;
}

.dark .dark-icon {
  display: block;
}

/* When the .light theme is active */
.light .light-icon {
  display: block;
}

.light .dark-icon {
  display: none;
}