.wrapper {
    position: relative;
  }
  
  .title {
    position: relative;
    font-weight: 900;
    background: linear-gradient(180deg, var(--mantine-primary-color-filled), var(--mantine-primary-color-8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: linear-gradient(45deg, var(--mantine-primary-color-5), var(--mantine-primary-color-2));
    margin: 20px auto;
    border-radius: var(--mantine-radius-xl);
  }
  
  .card {
    transition: all 0.1s ease;
    background: var(--mantine-primary-color-8);
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: var(--mantine-shadow-lg);
    background: var(--mantine-color-secondary-filled);
  }
  
  .iconWrapper {
    width: 60px;
    height: 60px;
    border-radius: var(--mantine-radius-md);
    /* background: linear-gradient(45deg, var(--mantine-primary-color-6), var(--mantine-primary-color-5)); */
    background: var(--mantine-primary-color-filled-hover);
    color: var(--mantine-primary-color-contrast);
    animation: float 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconWrapper svg {
    width: 30px;
    height: 30px;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .fixedCard {
    /* min-height: 180px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tabsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 28px auto;
  }
  @media (max-width: 950px) {
    .tabsList {
      grid-template-columns: repeat(1, 1fr);
      gap: 6px;
      margin-bottom: 20px;
    }
  }

  .tabPill {
    font-weight: 600;
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 8px;
    margin-right: 6px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    color: #1a1b1e; /* Light mode color */
  }
  
  .tabPill[data-active='true'] {
    font-weight: 800;
    color: #111111;
  }
  
  .tabPill {
  color: #1a1b1e;
  font-weight: 600;
}

.tabPill[data-active='true'] {
  font-weight: 800;
  color: var(--mantine-primary-color-filled, #ffe066);
}

[data-mantine-color-scheme='dark'] .tabPill {
  color: var(--mantine-color-text-dark, #fff);
}
[data-mantine-color-scheme='dark'] .tabPill[data-active='true'] {
  color: var(--mantine-primary-color-filled, #ffe066);
}


  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }