/* Container to hold the two columns */
.container {
    display: flex;
    flex-wrap: wrap; /* This will allow the columns to wrap on smaller screens */
    padding: 20px;
}

/* Style for the image column */
.image-column {
    flex: 1 1 45%; /* Takes up 45% of space, but can shrink and grow */
    margin-right: 20px;
}

.image-column img {
    width: 100%;
    height: auto;
}

/* Style for the text (bullet points) column */
.text-column {
    flex: 1 1 45%; /* Takes up 45% of space, but can shrink and grow */
}

.text-column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.text-column li {
    margin-bottom: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns vertically */
        align-items: center;
    }

    .image-column, .text-column {
        flex: 1 1 100%; /* Make each column take full width */
        margin-right: 0; /* Remove right margin */
    }

    .image-column img {
        max-width: 100%; /* Ensure image is responsive */
    }
}


/* ----------- SCROLL DOWN ICON ----------------- */
.scroll {
	text-align: center;
	width: 60px;
	height: 60px;
	border: 3px solid #6c63ff;
	border-radius: 50%;
    display: flex;
    justify-content: center;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid #6c63ff;
  	    border-bottom: 3px solid #6c63ff;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}